.menu{
  width:20%;
  /* border:0;
  border-left:2px solid #D4D7D0; */
  border:1px solid #D4D7D0;
  /* box-shadow:0 1px 10px #D4D7D0;
  -moz-box-shadow:0 1px 3px #D4D7D0;
  -webkit-box-shadow:0 1px 3px #D4D7D0; */
}

.forms button{
  border:none;
  text-decoration: none;
  background:none;
  display:block;
  padding:35px;
  font-size:30px;
}

.shape-menu{
  position:relative;
}

.shape-options{
  display:none;
  background-color:white;
  position:absolute;
  margin-left:15px;
}

.shape-options img{
  width:90%;
}

.shape-options button{
  padding:0;
  display:inline;
  margin:10px;
}
.shape-menu:hover .shape-options{
  display: inline;
}

.forms button:hover, .board-title:hover{
  color:#FF4407;
}


.save-board{
  border-top: 1px solid #D4D7D0;
}

.board-title{
  margin:35px;
  border:none;
  text-decoration: none;
  width: 80%;
  height: 50px;
  font-size:30px;
}

.save-button{
  /* border:none; */
  text-decoration: none;
  background:none;
  margin:35px;
  font-size:30px;
}

.save-button:hover{
  color: black;
  border-color: black;
}
