.app-title{
  padding-top:10px;
}

.app-header{
  text-align: end;
  padding:30px;
}

.rams-link:hover{
  color: #FF4407;
}

.rams-link{
  font-size:35px;
  text-decoration:none;
  color:black;
  padding: 15px;
  float:left;
}
