@media (min-width:768px){
  @import url('https://fonts.googleapis.com/css?family=Roboto');
  
  *{
    font-family: 'Roboto', sans-serif;
    color:#423F40;
  }

  body{
    margin: 0;
    padding: 0;
  }

  .logout-link:hover {
    color: #FF4407;
  }

  .ram-container{
    margin:50px;
/* 
    margin-top:30px;
    margin-bottom:30px; */
  }
  .container{
    display:flex;
    flex-direction: row;
    /* justify-content: space-around; */
  }

  .board{
    width:1000px;
    height:700px;
    -moz-box-shadow:    inset 0 0 6px #D4D7D0;
    -webkit-box-shadow: inset 0 0 6px #D4D7D0;
    box-shadow:         inset 0 0 6px #D4D7D0;
    position:relative;
    overflow:auto;
  }

  .logout-link{
    float:right;
    text-decoration:none;
    font-size:20px;
    padding-top:30px;
    color:black;
  }

}